<h1>Edit Bookmark</h1>
 
<%= form_with(model: @bookmark, local: true) do |form| %>
 
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :URL %><br>
    <%= form.text_area :URL %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 <%= link_to 'Destroy', bookmark_path(@bookmark),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', bookmarks_path %>
