
<h1>Listing bookmarks</h1>


<%= link_to 'New Bookmark', new_bookmark_path %>

 
<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th colspan="2"></th>
  </tr>
 
  <% @bookmarks.each do |bookmark| %>
    <tr>
      <td><%= bookmark.title %></td>
      <td><%= bookmark.URL %></td>
      <td><%= link_to 'Show', bookmark_path(bookmark) %></td>
      <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
      <td><%= link_to 'Delete', bookmark_path(bookmark),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>